<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link rel="stylesheet" href="./assets/L.Control.Locate.min.css" />
    <link rel="stylesheet" href="./assets/style.css" />
</head>
<body>
<div id="mapid"></div>

<a href="https://github.com/code4history/TatebayashiStones"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 500" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<script type="text/html" id="popup-template">
    <div class="poi">
        <h2><%= name %> (<%= place %>)</h2>
        <% if (type) { %><b>種別:</b> <%= type %><br><% } %>
        <a href="<%- path %>" target="_blank"><img class="represent" src="<%- mid_thumbnail %>"></a><br>
        <b>年代:</b> <%= japanese_calendar %><% if (year) { %> (<%= year %>)<% } %><br>
        <% if (shape) { %><b>形状:</b> <%= shape %><br><% } %>
        <% if (note) { %><b>メモ:</b> <%= note.replace(/\n/g,'<br>') %><br><% } %>
        <% if (material) { %><b>材質:</b> <%= material %><br><% } %>
        <% if (whole_height) { %><b>総高:</b> <%= whole_height %>cm<br><% } %>
        <% if (statue_height) { %><b>像高:</b> <%= statue_height %>cm<br><% } %>
        <% if (width) { %><b>総高:</b> <%= width %>cm<br><% } %>
        <% if (depth) { %><b>総高:</b> <%= depth %>cm<br><% } %>
        <% if (inscription) { %><b>刻銘:</b> <%= inscription.replace(/\n/g,'<br>') %><br><% } %>
        <b>最終現地調査日:</b> <% if (confirmed) { %><%= confirmed %><% } else { %>未調査<% } %><br>
        <% if (need_action) { %><b>アクション要:</b> <%= need_action %><br><% } %>
        <% if (contradiction) { %><b>タネ本の矛盾:</b> <%= contradiction %><br><% } %>
        <% if (files.length > 1) { %>
        <b>その他の画像:</b><br>
        <div class="parent">
            <% files.map(function(file) { %>
            <% if (file.path != path) { %>
            <div class="child">
                <div><a href="<%- file.path %>" target="_blank"><img src="<%- file.small_thumbnail %>"></a></div>
            </div>
            <% } %>
            <% }) %>
        </div>
        <% } %>
    </div>
</script>

<script> MAP_CFG = {
    latLng: [
        36.231734,
        139.567348
    ],
    zoom: 15,
    minZoom: 5,
    maxZoom: 20,
    maxNativeZoom: 19,
    geoJson: './tatebayashi_stones.geojson',
    checkProperty: 'name',
    icon: (point, latlng) => {
        const props = point.properties;
        let iconUrl = './assets/hotoke.png';
        let width = 43;
        let height = 48;
        if (props.type === '地蔵菩薩像' || props.type === '六地蔵菩薩像') {
            iconUrl = './assets/jizo.png';
            width = 35;
        } else if (props.type === '庚申') {
            iconUrl = './assets/sanzaru.png';
            width = 36;
        } else if (props.type === '馬頭観世音') {
            iconUrl = './assets/bato.png';
            width = 48;
        }

        if (props.need_action || !props.confirmed || props.contradiction) iconUrl = iconUrl.replace('.png', '_surprise.png');

        return L.marker(latlng, {
            icon: L.icon({
                iconUrl: iconUrl,
                iconSize: [width, height],
                iconAnchor: [width / 2, height]
            })
        });
    }
} </script>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet-src.js"></script>
<script src="./assets/L.Control.Locate.js"></script>
<script src="./assets/geojson-popup.js"></script>
</body>
</html>